<div class="container">
    <h2>Add task</h2>

    <div class="col-xs-6">
      <form *ngIf="active" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" required
            [(ngModel)]="model.subject" name="subject" #subjectState="ngModel">
            <div [hidden]="subjectState.valid || subjectState.pristine" class="alert alert-danger">
              Subject is required
            </div>
        </div>

        <div class="form-group">
          <label for="content">Content</label>
          <input type="text" class="form-control" required
            [(ngModel)]="model.content" name="content" #contentState="ngModel">
            <div [hidden]="contentState.valid || contentState.pristine" class="alert alert-danger">
              Content is required
            </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label for="isImportant">
              <input type="checkbox"
                [(ngModel)]="model.isImportant" name="isImportant">
                Is important
            </label>
          </div>
        </div>   

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-xs-6">
      <h3>Subject:</h3>
      {{model.subject}}

      <h3>Content</h3>
      {{model.content}}

      <h3>is important</h3>
      {{model.isImportant}}
    </div>

</div>